*{ box-sizing: border-box;
}

  
  .clearfix::after {
    clear: both;
    content: "";
    display: block;
  }

body {  background-color: #fff;
        border: 1px solid #ddd;
         width: 960px;
        margin: 20px auto;
        padding: 0 20px;

}
#logo  { background-color: #cccccc; 
        color: #4aaaa5;
        font-size: 30px; 
        width: 100%;
        margin: 0 auto;
        height: 90px;
        float: left; 
        padding: 20px; 

}


nav {
    font-size: 20px;
    float: right;
    word-spacing: 5px; 

}    

.header a:not nav {
border: 1px solid #4aaaa5;
background-color: #777777; 
float: right;
word-spacing: 5px; 
margin-top: 30px;
float: left;

}
h1 { background-color: none;
color: #4aaaa5;  
font-family: 'Georgia', Times, Times New Roman, serif;
font-size: 30px;
display: block; 
padding: 40px;


}

img { width: 200px;
height: 200px;
border: 6px solid #dddddd;
float: left; 


}
h2 { background: #4aaaa5;
color: #dddddd; 


}

.logo {
background-color:#cccccc; 
float: left;
width: 100%; 
}

p { 
line-height: 28px; 
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
border: black;


}

footer { 
background-color: #cccccc; 
color: #777777; 
text-align: center; 
}




@media screen and (max-width: 980px) {
body {
background-color: #fff; 
float:none; 

}

}

@media screen and (max-width: 768px) {
body .wrapper {
background-color: pink;  
float:none; 
text-align: left; 
} 

p {
    text-align: center;
    width: 100px;
    padding: 20px; 
}
} 


@media screen and (max-width: 640px) { 
body .wrapper{ background-color: yellow;
float:left; 

}
p {text-align: left;


}
